schema_version: "1.0"
enclave_name: "{{ full_project_name }}"
registry_url: "{{ registry_url }}"

# Data products approved for this enclave (from registry)
approved_products: []

# Versions downloaded to networked repo (ready for transfer)
downloaded: []

# Versions verified on enclave
transferred: []
